body {
    height: calc(100vh - 4rem);
    max-height: calc(100vh - 4rem);
    margin: 0;
    padding: 2rem 0;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: min(100%, 500px);
    justify-content: center;
  }
  body > *{
    padding: 0 5%;
  }

  .buttons{
    display: flex;
    flex-direction: column;
  }

  .content{
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: min(100%, 500px);
  }

  p {
    margin-bottom: 0;
    overflow-wrap: break-word;
    overflow-y: scroll;
  }
